.intro-text {
    width:80%;
    margin: 35px auto;
    padding-top:50px;
    }

hr {
    width:30%;
    margin: 15px auto;
}

.companyForm {
    width:80%;
    text-align:center;
    justify-content:center;
    margin: 0 auto;
    padding:25px;
}

.mobileTracker {
    width:80%;
    margin:0 auto;
}
.largeTracker {
    display:none;
}

h2{ 
    text-align:center;
    margin: 10px;
}

.card {
    width:60%;
    margin:0 auto;
}

@media screen and (min-width:758px){
    .mobileTracker{
        display:none;
    }
    .largeTracker {
        display:inherit;
        width:80%;
        margin:0 auto;
    }
    table {
        width:100%;
    }
    table th {
        margin:0 auto;
        text-align:center;
        text-decoration:underline;
    }
    table td {
        margin:0 auto;
        text-align:center;
        padding-top:15px;
    }
}