.intro-text {
    width:80%;
    margin: 35px auto;
    padding-top:50px;
    }

hr {
    width:30%;
    margin: 15px auto;
}

.companyForm {
    width:80%;
    text-align:center;
    justify-content:center;
    margin: 0 auto;
    padding:25px;
}