.intro-text {
    width:80%;
    margin: 35px auto;
    padding-top:50px;
    }

hr {
    width:30%;
    margin: 15px auto;
}

.companyForm {
    width:80%;
    text-align:center;
    justify-content:center;
    margin: 0 auto;
    padding:25px;
}

/* Set display for mobile view and large screens */
.mobileTracker {
    width:90%;
    margin:0 auto;
}
.largeTracker {
    display:none;
}

/* formatting for job detials listings */

.jobDetailsImage {
    max-width:80%;
    margin:0 auto;
    display:flex;
    justify-content:center;
    padding: 10px;
    max-height:350px;
}

.jobDetails div {
    border-top:solid 2px blue;
}

.jobDetails a .card {
    text-decoration:none;
}

.card {
    width:90%;
    margin:0 auto;
}


/* Align all header elements on the page for a uniform style. */
h2{ 
    text-align:center;
    margin: 10px;
    text-decoration:none;;
}

a {
    text-decoration:none;
}


@media screen and (min-width:758px){
    .mobileTracker{
        display:none;
    }
    .largeTracker {
        display:inherit;
        width:80%;
        margin:0 auto;
    }

    /* Presentation of table */
    table {
        width:100%;
    }
    table th {
        margin:0 auto;
        text-align:center;
        text-decoration:underline;
    }
    table td {
        margin:0 auto;
        text-align:center;
        padding-top:15px;
    }
}