{% extends "base.html"%} {% block content %}

{% load crispy_forms_tags %}
<h2>Create company</h2>
<form method="post" class="companyForm">
    {{ CompanyForm |crispy }}
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <button class="btn btn-primary" type="submit">Register</button>
    <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
</form>

{% endblock %}