{% extends "base.html"%}

{% block content %}
<div class="text-center intro-text">
  {% if user.is_authenticated %}
  <div>
    <!-- Display messages prompted by views.py success/warning/error -->
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
      {% endfor %}
      {% endif %}

      <p>Options:</p>
      <a class="btn btn-primary" href="#" role="button">Tracking Page</a>
      <hr>
      <!-- Linked to modal for further details -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Company Details
      </button>
      <hr>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMachines">
        New Machine details
      </button>

      <!-- Modal supplied by Bootstrap - providing options for create or edit company -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Company Details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Function to determin if the user belongs to a company -->
              {% if user.profile.company|length > 0 %}
              <!-- If user belongs to a company, display editing ability -->
              <a class="btn btn-primary" href="{% url 'edit_company' user.profile.company %}" role="button">Edit
                Company</a>
              <hr>
              <a class="btn btn-primary" href="{% url 'leave_company'%}" role="button">Leave Company</a>
              {% else %}
              <!-- If user does not belong to a company, either create or join -->
              <a class="btn btn-primary" href="{% url 'create_company' %}" role="button">Create Company</a>
              <hr>
              <a class="btn btn-primary" href="{% url 'join_company'%}" role="button">Join Company</a>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for creating new Machine Modal or Machine Asset -->
      <div class="modal fade" id="newMachines" tabindex="-1" aria-labelledby="#newMachines" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="newMachines">New Machine</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Icons to link to relevant functions of either asset or model -->
              <div>
                <a class="btn btn-primary" href="{% url 'create_model' %}" role="button">Create New Model</a>
                <hr>
              </div>
              <a class="btn btn-primary" href="{% url 'new_asset'%}" role="button">Create New Asset</a>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>

      {% else %}

      <!-- Display if user is not logged in on home page.  -->
      <p>Welcome to ReynoldsTracker!</p>
      <p>
        Please sign up or log in for use of the tracker. On log-in, we have a help section to understand what to expect
        if needed!
      </p>
      <div class="d-flex justify-content-around">
        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">Log-In</a>
        <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Sign-Up</a>
      </div>
      {% endif %}

  </div>
  {% endblock content%}