{% extends 'base.html' %}

{% block content %}

<h2> Job: {{ job.id }}</h2>
<div class="container">
    <div class="jobDetails">
            <img src="{{ job.machine_id.model.image.url }}" alt="Machine Image" class="jobDetailsImage">
        <div>
            <h4>{{ job.machine_id.manufacturer_reference }} | s/n {{job.machine_id.serial_number}}</h4>
            <h4> {{ job.machine_id.model.manufacturer_product_code }} | {{ job.machine_id.model.manufacturer }}</h4>
        </div>
    </div>
    <table>
        <tr>
            <th>Created By:</th>
            <td>{{ job.created_by}}</td>
        </tr>
        <tr>
            <th>Site Contact: </th>
            <td>{{ job.contact}}</td>
        </tr>
        <tr>
            <th>PO reference: </th>
            <td> {{job.po_reference}}</td>
        </tr>
        <tr>
            <th>Start Date:</th>
            <td>{{ job.start_date}}</td>
        </tr>
        <tr>
            <th>Voltage:</th>
            <td>{{job.machine_id.model.voltage}}v</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td> {{table_header}}</td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-primary" href="{% url 'job_edit' job.id%}">Edit</a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteJob">Delete</button>
            </td>
        </tr>
    </table>
    <div class="modal fade" id="deleteJob" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteJob">Confirm Deletion</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you wish to delete ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{% url 'delete_job' job.id %}" class="btn btn-danger">Confirm Delete</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="position-absolute bottom-0 start-0">
    <a href="{% url 'tracker' %}">Go Back</a>
</div>
{% endblock %}